body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 75rem;
  padding-top: 4.5rem;
}

.btn-primary,
.btn-success {
  border: 0;
  border-radius: 3px;
  padding: 12px 20px 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: 350ms;
  font-size: 14px;
}
/* Input form */
.form-control {
  box-shadow: none;
  border: 1px solid #dadada;
  padding: 5px 20px;
  height: 44px;
  background: none;
  color: #959595;
  font-size: 14px;
  border-radius: 0;
}

textarea.form-control{
  height: 100%;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #ffb600;
  border: 1px solid #dadada;
}

@media (max-width: 767px) {

  .btn-primary,
  .btn-success {
    font-size: 13px;
  }
}